n8n-workflows/alquimia-tool-reschedule-appointment.json
{
    "name": "Tools - Reschedule Appointment v1",
    "nodes": [
        {
            "parameters": {},
            "id": "trigger",
            "name": "Execute Workflow Trigger",
            "type": "n8n-nodes-base.executeWorkflowTrigger",
            "typeVersion": 1,
            "position": [
                250,
                300
            ]
        },
        {
            "parameters": {
                "method": "GET",
                "url": "=https://byoalaoqyedwxpcugfhg.supabase.co/rest/v1/appointments?lead_id=eq.{{ $json.lead_id }}&organization_id=eq.00000000-0000-0000-0000-000000000000&status=eq.Pendiente&order=date.asc&limit=1",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ5b2FsYW9xeWVkd3hwY3VnZmhnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njk4Njc1OTUsImV4cCI6MjA4NTQ0MzU5NX0.fi63bqEDlFHkG88clPZPY20JFQ8idBLP_mAD4W2BFO8"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ5b2FsYW9xeWVkd3hwY3VnZmhnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njk4Njc1OTUsImV4cCI6MjA4NTQ0MzU5NX0.fi63bqEDlFHkG88clPZPY20JFQ8idBLP_mAD4W2BFO8"
                        }
                    ]
                }
            },
            "id": "find-apt",
            "name": "Find Appointment",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                450,
                300
            ],
            "alwaysOutputData": true,
            "continueOnFail": true
        },
        {
            "parameters": {
                "jsCode": "const items = $input.all();\nconst input = $('Execute Workflow Trigger').first().json;\nconst newDate = input.new_date;\nconst newNotes = input.notes || null;\n\nlet appointments = [];\nif (items.length > 0) {\n  const firstItem = items[0].json;\n  if (Array.isArray(firstItem)) {\n    appointments = firstItem;\n  } else if (firstItem && firstItem.id) {\n    appointments = [firstItem];\n  }\n}\n\nif (appointments.length === 0) {\n  return [{ json: { skip: true, result: 'No se encontró ninguna cita pendiente para este lead.' } }];\n}\n\nconst apt = appointments[0];\n\nreturn [{ json: {\n  skip: false,\n  appointmentId: apt.id,\n  oldDate: apt.date,\n  newDate: newDate,\n  notes: newNotes,\n  title: apt.title\n} }];"
            },
            "id": "process-find",
            "name": "Process Find Result",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                650,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "boolean": [
                        {
                            "value1": "={{ $json.skip }}",
                            "value2": false
                        }
                    ]
                }
            },
            "id": "has-apt",
            "name": "Found?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                850,
                300
            ]
        },
        {
            "parameters": {
                "method": "PATCH",
                "url": "=https://byoalaoqyedwxpcugfhg.supabase.co/rest/v1/appointments?id=eq.{{ $json.appointmentId }}",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ5b2FsYW9xeWVkd3hwY3VnZmhnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njk4Njc1OTUsImV4cCI6MjA4NTQ0MzU5NX0.fi63bqEDlFHkG88clPZPY20JFQ8idBLP_mAD4W2BFO8"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ5b2FsYW9xeWVkd3hwY3VnZmhnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njk4Njc1OTUsImV4cCI6MjA4NTQ0MzU5NX0.fi63bqEDlFHkG88clPZPY20JFQ8idBLP_mAD4W2BFO8"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        },
                        {
                            "name": "Prefer",
                            "value": "return=representation"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"date\": \"{{ $json.newDate }}\",\n  \"notes\": {{ $json.notes ? '\"Reprogramada: ' + $json.notes + '\"' : '\"Cita reprogramada\"' }}\n}"
            },
            "id": "update-apt",
            "name": "Update Appointment",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1050,
                200
            ],
            "alwaysOutputData": true,
            "continueOnFail": true
        },
        {
            "parameters": {
                "jsCode": "const items = $input.all();\nconst ctx = $('Process Find Result').item.json;\nlet result = \"Error al reprogramar la cita.\";\n\ntry {\n  if (items.length > 0) {\n    const firstItem = items[0].json;\n    const apt = Array.isArray(firstItem) ? firstItem[0] : firstItem;\n    \n    if (apt && apt.id) {\n      result = JSON.stringify({\n        success: true,\n        appointment_id: apt.id,\n        old_date: ctx.oldDate,\n        new_date: apt.date,\n        title: apt.title || ctx.title,\n        message: 'Cita reprogramada exitosamente de ' + ctx.oldDate + ' a ' + apt.date\n      });\n    } else if (firstItem.error) {\n      result = \"Error al reprogramar: \" + JSON.stringify(firstItem);\n    }\n  }\n} catch (e) {\n  result = \"Error: \" + e.message;\n}\n\nreturn [{ json: { result } }];"
            },
            "id": "format-success",
            "name": "Format Success",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1250,
                200
            ]
        },
        {
            "parameters": {
                "jsCode": "return [{ json: { result: $json.result || 'No se encontró ninguna cita pendiente para este lead.' } }];"
            },
            "id": "format-not-found",
            "name": "Not Found",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1050,
                400
            ]
        }
    ],
    "connections": {
        "Execute Workflow Trigger": {
            "main": [
                [
                    {
                        "node": "Find Appointment",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Find Appointment": {
            "main": [
                [
                    {
                        "node": "Process Find Result",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Process Find Result": {
            "main": [
                [
                    {
                        "node": "Found?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Found?": {
            "main": [
                [
                    {
                        "node": "Update Appointment",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Not Found",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Update Appointment": {
            "main": [
                [
                    {
                        "node": "Format Success",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}