n8n-workflows/alquimia-ai-v3.json
{
    "name": "Alquimia AI Chatbot v3",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "alquimia-v3",
                "options": {}
            },
            "id": "webhook",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                200,
                300
            ],
            "webhookId": "alquimia-v3"
        },
        {
            "parameters": {
                "jsCode": "const input = $input.first().json;\nconst body = input.body || input;\nconst data = body.data || {};\nconst key = data.key || {};\nconst msg = data.message || {};\n\nconst jid = key.remoteJid || '';\nconst phone = jid.split('@')[0] || 'unknown';\nconst name = data.pushName || 'Cliente';\n\nlet content = msg.conversation || msg.extendedTextMessage?.text || '';\n\nif (key.fromMe === true || jid.includes('@g.us') || !content) {\n  return { skip: true };\n}\n\nreturn {\n  skip: false,\n  phone,\n  name,\n  content,\n  instance: 'prexup',\n  timestamp: Date.now()\n};"
            },
            "id": "parse",
            "name": "Parse Message",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                400,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "boolean": [
                        {
                            "value1": "={{ $json.skip }}",
                            "value2": false
                        }
                    ]
                }
            },
            "id": "valid-check",
            "name": "Valid?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                600,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://byoalaoqyedwxpcugfhg.supabase.co/rest/v1/rpc/find_or_create_lead",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ5b2FsYW9xeWVkd3hwY3VnZmhnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njk4Njc1OTUsImV4cCI6MjA4NTQ0MzU5NX0.fi63bqEDlFHkG88clPZPY20JFQ8idBLP_mAD4W2BFO8"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ5b2FsYW9xeWVkd3hwY3VnZmhnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njk4Njc1OTUsImV4cCI6MjA4NTQ0MzU5NX0.fi63bqEDlFHkG88clPZPY20JFQ8idBLP_mAD4W2BFO8"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"p_phone\": \"{{ $json.phone }}\",\n  \"p_name\": \"{{ $json.name }}\",\n  \"p_org_id\": \"00000000-0000-0000-0000-000000000000\"\n}"
            },
            "id": "find-or-create",
            "name": "Find or Create Lead",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                800,
                300
            ],
            "alwaysOutputData": true
        },
        {
            "parameters": {
                "jsCode": "const result = $input.first().json;\nconst msgData = $('Parse Message').item.json;\n\nconst lead = Array.isArray(result) && result.length > 0 ? result[0] : result;\n\nreturn {\n  ...msgData,\n  leadId: lead?.id || null,\n  chatbotActive: lead?.chatbot_active ?? true,\n  currentInterest: lead?.interest || '',\n  isNewLead: lead?.is_new || false,\n  assignedTo: lead?.assigned_to || null\n};"
            },
            "id": "process-lead",
            "name": "Process Lead",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1000,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "boolean": [
                        {
                            "value1": "={{ $json.chatbotActive }}",
                            "value2": true
                        }
                    ]
                }
            },
            "id": "chatbot-active",
            "name": "Chatbot Active?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                1200,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://byoalaoqyedwxpcugfhg.supabase.co/rest/v1/messages",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ5b2FsYW9xeWVkd3hwY3VnZmhnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njk4Njc1OTUsImV4cCI6MjA4NTQ0MzU5NX0.fi63bqEDlFHkG88clPZPY20JFQ8idBLP_mAD4W2BFO8"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ5b2FsYW9xeWVkd3hwY3VnZmhnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njk4Njc1OTUsImV4cCI6MjA4NTQ0MzU5NX0.fi63bqEDlFHkG88clPZPY20JFQ8idBLP_mAD4W2BFO8"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"organization_id\": \"00000000-0000-0000-0000-000000000000\",\n  \"lead_id\": \"{{ $json.leadId }}\",\n  \"content\": \"{{ $json.content }}\",\n  \"sender\": \"client\"\n}"
            },
            "id": "save-incoming",
            "name": "Save Incoming",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1400,
                300
            ],
            "alwaysOutputData": true
        },
        {
            "parameters": {
                "method": "GET",
                "url": "https://byoalaoqyedwxpcugfhg.supabase.co/rest/v1/properties?organization_id=eq.00000000-0000-0000-0000-000000000000&status=eq.Disponible&select=id,lot_number,area,price,features",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ5b2FsYW9xeWVkd3hwY3VnZmhnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njk4Njc1OTUsImV4cCI6MjA4NTQ0MzU5NX0.fi63bqEDlFHkG88clPZPY20JFQ8idBLP_mAD4W2BFO8"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ5b2FsYW9xeWVkd3hwY3VnZmhnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njk4Njc1OTUsImV4cCI6MjA4NTQ0MzU5NX0.fi63bqEDlFHkG88clPZPY20JFQ8idBLP_mAD4W2BFO8"
                        }
                    ]
                }
            },
            "id": "get-properties",
            "name": "Get Properties",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1600,
                300
            ],
            "alwaysOutputData": true
        },
        {
            "parameters": {
                "method": "GET",
                "url": "=https://byoalaoqyedwxpcugfhg.supabase.co/rest/v1/messages?lead_id=eq.{{ $('Chatbot Active?').item.json.leadId }}&order=created_at.desc&limit=20",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ5b2FsYW9xeWVkd3hwY3VnZmhnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njk4Njc1OTUsImV4cCI6MjA4NTQ0MzU5NX0.fi63bqEDlFHkG88clPZPY20JFQ8idBLP_mAD4W2BFO8"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ5b2FsYW9xeWVkd3hwY3VnZmhnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njk4Njc1OTUsImV4cCI6MjA4NTQ0MzU5NX0.fi63bqEDlFHkG88clPZPY20JFQ8idBLP_mAD4W2BFO8"
                        }
                    ]
                }
            },
            "id": "get-history",
            "name": "Get Chat History",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1800,
                300
            ],
            "alwaysOutputData": true
        },
        {
            "parameters": {
                "jsCode": "const properties = $('Get Properties').item.json;\nconst ctx = $('Chatbot Active?').item.json;\n\n// Get all messages from history\nconst historyItems = $('Get Chat History').all();\nlet messagesArray = [];\n\n// Handle different response formats\nif (historyItems.length > 0) {\n  const firstItem = historyItems[0].json;\n  if (Array.isArray(firstItem)) {\n    messagesArray = firstItem;\n  } else if (firstItem && typeof firstItem === 'object') {\n    messagesArray = historyItems.map(item => item.json);\n  }\n}\n\n// Get current date/time in Peru timezone\nconst now = new Date();\nconst peruTime = new Date(now.toLocaleString('en-US', { timeZone: 'America/Lima' }));\nconst today = peruTime.toLocaleDateString('es-PE', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' });\nconst currentTime = peruTime.toLocaleTimeString('es-PE', { hour: '2-digit', minute: '2-digit' });\n\n// Format properties\nconst props = Array.isArray(properties) \n  ? properties.map(p => {\n      const features = (p.features || []).join(', ');\n      return `Lote ${p.lot_number}: ${p.area}m², $${p.price} USD${features ? ' - ' + features : ''}`;\n    }).join('\\n')\n  : 'No hay propiedades disponibles';\n\n// Format chat history - CRITICAL: This must be passed correctly\nconst validMessages = messagesArray.filter(m => m && m.content && m.content.trim());\n\n// Build conversation history string\nlet chatHistoryText = '';\nif (validMessages.length > 0) {\n  // Reverse to show oldest first (chronological order)\n  const orderedMessages = validMessages.slice().reverse();\n  chatHistoryText = orderedMessages.map(m => {\n    const role = m.sender === 'client' ? 'CLIENTE' : 'ASESOR';\n    return `[${role}]: ${m.content}`;\n  }).join('\\n');\n} else {\n  chatHistoryText = '(Primera conversación - sin historial previo)';\n}\n\nreturn {\n  sessionId: ctx.leadId,\n  leadId: ctx.leadId,\n  phone: ctx.phone,\n  instance: ctx.instance,\n  clientName: ctx.name,\n  properties: props,\n  chatHistory: chatHistoryText,\n  currentMessage: ctx.content,\n  assignedTo: ctx.assignedTo,\n  today,\n  currentTime,\n  messageCount: validMessages.length\n};"
            },
            "id": "prepare-context",
            "name": "Prepare AI Context",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                2000,
                300
            ]
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "=HISTORIAL DE CONVERSACIÓN PREVIO:\n{{ $json.chatHistory }}\n\n---\nMENSAJE ACTUAL DEL CLIENTE: {{ $json.currentMessage }}",
                "options": {
                    "systemMessage": "Eres un asesor inmobiliario profesional de Residencial Alquimia (Huaranguillo, Sachaca - Arequipa, Perú).\n\n=== DATOS DEL CLIENTE ===\nNombre: {{ $json.clientName }}\nTeléfono: {{ $json.phone }}\nFecha: {{ $json.today }}\nHora: {{ $json.currentTime }}\n\n=== PROPIEDADES DISPONIBLES ===\n{{ $json.properties }}\n\n=== INSTRUCCIONES CRÍTICAS ===\n\n1. **LEE EL HISTORIAL PRIMERO**: Arriba del mensaje actual verás el historial de conversación. DEBES leerlo para:\n   - Recordar qué preguntó el cliente antes\n   - No repetir información ya proporcionada\n   - Seguir el hilo de la conversación\n   - Recordar si ya mencionó preferencias o intereses\n\n2. **REGLAS DE RESPUESTA**:\n   - Máximo 2-3 oraciones\n   - Sé amable y profesional 😊\n   - Ofrece máximo 2-3 lotes por vez\n   - Precios siempre en dólares\n   - Si el cliente pregunta algo que ya respondiste, referencia brevemente la respuesta anterior\n\n3. **PARA CITAS**:\n   - Si quiere agendar visita: confirma fecha, hora y nombre\n   - Confirma que su WhatsApp es el contacto principal\n   - Pide que guarde el número 959-716-850 como 'Residencial Alquimia'\n\n4. **INFO DEL PROYECTO**:\n   - Lotes de terreno para construcción\n   - Financiamiento disponible\n   - WhatsApp: 959-716-850\n\nResponde al mensaje actual considerando TODO el contexto del historial."
                }
            },
            "id": "ai-agent",
            "name": "AI Agent",
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 1.7,
            "position": [
                2200,
                300
            ]
        },
        {
            "parameters": {
                "options": {
                    "temperature": 0.7
                }
            },
            "id": "openai-chat",
            "name": "OpenAI Chat Model",
            "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
            "typeVersion": 1,
            "position": [
                2100,
                520
            ],
            "credentials": {
                "openAiApi": {
                    "id": "openai-credential",
                    "name": "OpenAI API"
                }
            }
        },
        {
            "parameters": {
                "sessionIdType": "customKey",
                "sessionKey": "={{ $json.sessionId }}",
                "contextWindowLength": 20
            },
            "id": "memory",
            "name": "Window Buffer Memory",
            "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
            "typeVersion": 1.3,
            "position": [
                2200,
                520
            ]
        },
        {
            "parameters": {
                "jsCode": "const agentOutput = $input.first().json;\nconst ctx = $('Prepare AI Context').item.json;\n\nlet text = agentOutput.output || agentOutput.text || '¡Hola! Gracias por contactar Residencial Alquimia. Un asesor te atenderá pronto.';\n\nreturn {\n  text: text.trim(),\n  phone: ctx.phone,\n  instance: ctx.instance,\n  leadId: ctx.leadId\n};"
            },
            "id": "process-ai",
            "name": "Process AI Response",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                2400,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "=https://evolutionapi.kywia.com/message/sendText/{{ $json.instance }}",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        },
                        {
                            "name": "apikey",
                            "value": "2023bb74c1f985aa39f432fa165a27f4"
                        }
                    ]
                },
                "sendBody": true,
                "contentType": "json",
                "specifyBody": "keypair",
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "number",
                            "value": "={{ $json.phone }}"
                        },
                        {
                            "name": "text",
                            "value": "={{ $json.text }}"
                        }
                    ]
                }
            },
            "id": "send-whatsapp",
            "name": "Send WhatsApp",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                2600,
                300
            ],
            "alwaysOutputData": true
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://byoalaoqyedwxpcugfhg.supabase.co/rest/v1/messages",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ5b2FsYW9xeWVkd3hwY3VnZmhnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njk4Njc1OTUsImV4cCI6MjA4NTQ0MzU5NX0.fi63bqEDlFHkG88clPZPY20JFQ8idBLP_mAD4W2BFO8"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ5b2FsYW9xeWVkd3hwY3VnZmhnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njk4Njc1OTUsImV4cCI6MjA4NTQ0MzU5NX0.fi63bqEDlFHkG88clPZPY20JFQ8idBLP_mAD4W2BFO8"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "contentType": "json",
                "specifyBody": "keypair",
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "organization_id",
                            "value": "00000000-0000-0000-0000-000000000000"
                        },
                        {
                            "name": "lead_id",
                            "value": "={{ $('Process AI Response').item.json.leadId }}"
                        },
                        {
                            "name": "content",
                            "value": "={{ $('Process AI Response').item.json.text }}"
                        },
                        {
                            "name": "sender",
                            "value": "agent"
                        }
                    ]
                }
            },
            "id": "save-outgoing",
            "name": "Save Outgoing",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                2800,
                300
            ],
            "alwaysOutputData": true
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Parse Message",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse Message": {
            "main": [
                [
                    {
                        "node": "Valid?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Valid?": {
            "main": [
                [
                    {
                        "node": "Find or Create Lead",
                        "type": "main",
                        "index": 0
                    }
                ],
                []
            ]
        },
        "Find or Create Lead": {
            "main": [
                [
                    {
                        "node": "Process Lead",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Process Lead": {
            "main": [
                [
                    {
                        "node": "Chatbot Active?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Chatbot Active?": {
            "main": [
                [
                    {
                        "node": "Save Incoming",
                        "type": "main",
                        "index": 0
                    }
                ],
                []
            ]
        },
        "Save Incoming": {
            "main": [
                [
                    {
                        "node": "Get Properties",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Properties": {
            "main": [
                [
                    {
                        "node": "Get Chat History",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Chat History": {
            "main": [
                [
                    {
                        "node": "Prepare AI Context",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prepare AI Context": {
            "main": [
                [
                    {
                        "node": "AI Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenAI Chat Model": {
            "ai_languageModel": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Window Buffer Memory": {
            "ai_memory": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_memory",
                        "index": 0
                    }
                ]
            ]
        },
        "AI Agent": {
            "main": [
                [
                    {
                        "node": "Process AI Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Process AI Response": {
            "main": [
                [
                    {
                        "node": "Send WhatsApp",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send WhatsApp": {
            "main": [
                [
                    {
                        "node": "Save Outgoing",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    }
}