n8n-workflows/alquimia-prexup-fixed.json
{
    "name": "Alquimia Prexup Fixed",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "alquimia-test",
                "options": {}
            },
            "id": "webhook",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                200,
                300
            ],
            "webhookId": "alquimia-test"
        },
        {
            "parameters": {
                "jsCode": "const input = $input.first().json;\nconst body = input.body || input;\nconst data = body.data || {};\nconst key = data.key || {};\nconst msg = data.message || {};\n\nconst jid = key.remoteJid || '';\nconst phone = jid.split('@')[0] || 'unknown';\nconst name = data.pushName || 'Cliente';\nconst content = msg.conversation || msg.extendedTextMessage?.text || 'mensaje';\n\nif (key.fromMe === true || jid.includes('@g.us')) {\n  return { skip: true };\n}\n\nreturn {\n  skip: false,\n  phone,\n  name,\n  content,\n  instance: 'prexup'\n};"
            },
            "id": "parse",
            "name": "Parse",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                400,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "boolean": [
                        {
                            "value1": "={{ $json.skip }}",
                            "value2": false
                        }
                    ]
                }
            },
            "id": "check",
            "name": "Valid?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                600,
                300
            ]
        },
        {
            "parameters": {
                "method": "GET",
                "url": "=https://byoalaoqyedwxpcugfhg.supabase.co/rest/v1/leads?phone=ilike.*{{ $json.phone.slice(-8) }}*&organization_id=eq.00000000-0000-0000-0000-000000000000&select=id,name,chatbot_active",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ5b2FsYW9xeWVkd3hwY3VnZmhnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njk4Njc1OTUsImV4cCI6MjA4NTQ0MzU5NX0.fi63bqEDlFHkG88clPZPY20JFQ8idBLP_mAD4W2BFO8"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ5b2FsYW9xeWVkd3hwY3VnZmhnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njk4Njc1OTUsImV4cCI6MjA4NTQ0MzU5NX0.fi63bqEDlFHkG88clPZPY20JFQ8idBLP_mAD4W2BFO8"
                        }
                    ]
                },
                "options": {
                    "timeout": 5000
                }
            },
            "id": "find-lead",
            "name": "Find Lead",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                800,
                200
            ],
            "onError": "continueRegularOutput",
            "alwaysOutputData": true
        },
        {
            "parameters": {
                "jsCode": "const leads = $input.first().json;\nconst msgData = $('Parse').item.json;\nconst lead = Array.isArray(leads) && leads.length > 0 ? leads[0] : null;\n\nreturn {\n  ...msgData,\n  leadId: lead?.id || null,\n  leadExists: !!lead,\n  chatbotActive: lead?.chatbot_active ?? true\n};"
            },
            "id": "process-lead",
            "name": "Process",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1000,
                200
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "boolean": [
                        {
                            "value1": "={{ $json.leadExists }}",
                            "value2": true
                        }
                    ]
                }
            },
            "id": "lead-exists",
            "name": "Lead Exists?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                1200,
                200
            ]
        },
        {
            "parameters": {
                "method": "GET",
                "url": "https://byoalaoqyedwxpcugfhg.supabase.co/rest/v1/users?organization_id=eq.00000000-0000-0000-0000-000000000000&status=eq.active&select=id",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ5b2FsYW9xeWVkd3hwY3VnZmhnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njk4Njc1OTUsImV4cCI6MjA4NTQ0MzU5NX0.fi63bqEDlFHkG88clPZPY20JFQ8idBLP_mAD4W2BFO8"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ5b2FsYW9xeWVkd3hwY3VnZmhnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njk4Njc1OTUsImV4cCI6MjA4NTQ0MzU5NX0.fi63bqEDlFHkG88clPZPY20JFQ8idBLP_mAD4W2BFO8"
                        }
                    ]
                }
            },
            "id": "get-agents",
            "name": "Get Agents",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1400,
                350
            ],
            "alwaysOutputData": true
        },
        {
            "parameters": {
                "jsCode": "const agents = $input.first().json;\nconst msgData = $('Process').item.json;\nlet assignedTo = null;\n\nif (Array.isArray(agents) && agents.length > 0) {\n  const idx = Math.floor(Math.random() * agents.length);\n  assignedTo = agents[idx].id;\n}\n\nreturn { ...msgData, assignedTo };"
            },
            "id": "select-agent",
            "name": "Select Agent",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1600,
                350
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://byoalaoqyedwxpcugfhg.supabase.co/rest/v1/leads",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ5b2FsYW9xeWVkd3hwY3VnZmhnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njk4Njc1OTUsImV4cCI6MjA4NTQ0MzU5NX0.fi63bqEDlFHkG88clPZPY20JFQ8idBLP_mAD4W2BFO8"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ5b2FsYW9xeWVkd3hwY3VnZmhnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njk4Njc1OTUsImV4cCI6MjA4NTQ0MzU5NX0.fi63bqEDlFHkG88clPZPY20JFQ8idBLP_mAD4W2BFO8"
                        },
                        {
                            "name": "Prefer",
                            "value": "return=representation"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"organization_id\": \"00000000-0000-0000-0000-000000000000\",\n  \"name\": \"{{ $json.name }}\",\n  \"phone\": \"{{ $json.phone }}\",\n  \"status\": \"33ff4439-f812-4bec-8c53-ae6133a1b878\",\n  \"source\": \"WhatsApp\",\n  \"chatbot_active\": true,\n  \"assigned_to\": {{ $json.assignedTo ? '\"' + $json.assignedTo + '\"' : 'null' }}\n}"
            },
            "id": "create-lead",
            "name": "Create Lead",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1800,
                350
            ]
        },
        {
            "parameters": {
                "jsCode": "const result = $input.first().json;\nconst msgData = $('Select Agent').item.json;\nconst leadId = Array.isArray(result) ? result[0]?.id : result?.id;\n\nreturn {\n  ...msgData,\n  leadId,\n  leadExists: true,\n  chatbotActive: true,\n  isNewLead: true\n};"
            },
            "id": "set-lead-id",
            "name": "Set Lead ID",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                2000,
                350
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "=https://evolutionapi.kywia.com/message/sendText/{{ $json.instance }}",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        },
                        {
                            "name": "apikey",
                            "value": "2023bb74c1f985aa39f432fa165a27f4"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"number\": \"{{ $json.phone }}\",\n  \"text\": \"¡Hola {{ $json.name }}! 🏡 Gracias por contactar Residencial Alquimia. ¿En qué puedo ayudarte?\"\n}"
            },
            "id": "send",
            "name": "Send Response",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1400,
                100
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Parse",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse": {
            "main": [
                [
                    {
                        "node": "Valid?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Valid?": {
            "main": [
                [
                    {
                        "node": "Find Lead",
                        "type": "main",
                        "index": 0
                    }
                ],
                []
            ]
        },
        "Find Lead": {
            "main": [
                [
                    {
                        "node": "Process",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Process": {
            "main": [
                [
                    {
                        "node": "Lead Exists?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Lead Exists?": {
            "main": [
                [
                    {
                        "node": "Send Response",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Get Agents",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Agents": {
            "main": [
                [
                    {
                        "node": "Select Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Select Agent": {
            "main": [
                [
                    {
                        "node": "Create Lead",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Create Lead": {
            "main": [
                [
                    {
                        "node": "Set Lead ID",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Set Lead ID": {
            "main": [
                [
                    {
                        "node": "Send Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    }
}