n8n-workflows/alquimia-ai-v4-unified.json
{
    "name": "Alquimia AI v4 - Unified Stacking",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "alquimia-v4",
                "options": {}
            },
            "id": "webhook",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                200,
                300
            ],
            "webhookId": "alquimia-v4"
        },
        {
            "parameters": {
                "jsCode": "const input = $input.first().json;\nconst body = input.body || input;\nconst data = body.data || {};\nconst key = data.key || {};\nconst msg = data.message || {};\n\nconst jid = key.remoteJid || '';\nconst phone = jid.split('@')[0] || 'unknown';\nconst name = data.pushName || 'Cliente';\n\nlet content = msg.conversation || msg.extendedTextMessage?.text || '';\n\nif (key.fromMe === true || jid.includes('@g.us') || !content) {\n  return { skip: true };\n}\n\nreturn {\n  skip: false,\n  phone,\n  name,\n  content,\n  instance: 'prexup',\n  timestamp: Date.now()\n};"
            },
            "id": "parse",
            "name": "Parse Message",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                400,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "boolean": [
                        {
                            "value1": "={{ $json.skip }}",
                            "value2": false
                        }
                    ]
                }
            },
            "id": "valid-check",
            "name": "Valid?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                600,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://byoalaoqyedwxpcugfhg.supabase.co/rest/v1/rpc/stack_message",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ5b2FsYW9xeWVkd3hwY3VnZmhnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njk4Njc1OTUsImV4cCI6MjA4NTQ0MzU5NX0.fi63bqEDlFHkG88clPZPY20JFQ8idBLP_mAD4W2BFO8"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ5b2FsYW9xeWVkd3hwY3VnZmhnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njk4Njc1OTUsImV4cCI6MjA4NTQ0MzU5NX0.fi63bqEDlFHkG88clPZPY20JFQ8idBLP_mAD4W2BFO8"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"p_phone\": \"{{ $json.phone }}\",\n  \"p_content\": \"{{ $json.content }}\",\n  \"p_name\": \"{{ $json.name }}\",\n  \"p_org_id\": \"00000000-0000-0000-0000-000000000000\"\n}"
            },
            "id": "stack-message",
            "name": "Stack Message",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                800,
                300
            ],
            "alwaysOutputData": true
        },
        {
            "parameters": {
                "jsCode": "const result = $input.first().json;\nconst msgData = $('Parse Message').item.json;\n\n// Parse result if it's a string\nlet data = result;\nif (typeof result === 'string') {\n  try {\n    data = JSON.parse(result);\n  } catch(e) {\n    data = {};\n  }\n}\n\nreturn {\n  sessionId: data.session_id || null,\n  phone: data.phone || msgData.phone,\n  leadId: data.lead_id || null,\n  messageCount: data.message_count || 1,\n  isNewSession: data.is_new_session === true,\n  shouldTriggerTimer: data.should_trigger_timer === true,\n  secondsRemaining: data.seconds_remaining || 100,\n  instance: msgData.instance,\n  name: msgData.name\n};"
            },
            "id": "process-stack",
            "name": "Process Stack Result",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1000,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "boolean": [
                        {
                            "value1": "={{ $json.shouldTriggerTimer }}",
                            "value2": true
                        }
                    ]
                }
            },
            "id": "is-new-session",
            "name": "New Session?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                1200,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "// WAIT 100 SECONDS before continuing\n// This allows more messages to be stacked\nconst ctx = $input.first().json;\nconst waitSeconds = ctx.secondsRemaining || 100;\n\n// Wait using setTimeout\nawait new Promise(resolve => setTimeout(resolve, waitSeconds * 1000));\n\nreturn {\n  sessionId: ctx.sessionId,\n  phone: ctx.phone,\n  instance: ctx.instance\n};"
            },
            "id": "wait-timer",
            "name": "Wait 100s",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1400,
                200
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://byoalaoqyedwxpcugfhg.supabase.co/rest/v1/rpc/get_pending_session",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ5b2FsYW9xeWVkd3hwY3VnZmhnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njk4Njc1OTUsImV4cCI6MjA4NTQ0MzU5NX0.fi63bqEDlFHkG88clPZPY20JFQ8idBLP_mAD4W2BFO8"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ5b2FsYW9xeWVkd3hwY3VnZmhnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njk4Njc1OTUsImV4cCI6MjA4NTQ0MzU5NX0.fi63bqEDlFHkG88clPZPY20JFQ8idBLP_mAD4W2BFO8"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"p_session_id\": \"{{ $json.sessionId }}\"\n}"
            },
            "id": "get-session",
            "name": "Get Stacked Messages",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1600,
                200
            ],
            "alwaysOutputData": true
        },
        {
            "parameters": {
                "jsCode": "const result = $input.first().json;\nconst waitData = $('Wait 100s').item.json;\n\n// Parse if string\nlet session = result;\nif (typeof result === 'string') {\n  try { session = JSON.parse(result); } catch(e) { return { skip: true }; }\n}\n\n// Check for errors\nif (session.error || session.skip) {\n  return { skip: true };\n}\n\nreturn {\n  skip: false,\n  sessionId: session.session_id,\n  phone: session.phone,\n  leadId: session.lead_id,\n  name: session.lead_name || 'Cliente',\n  combinedMessage: session.combined_message,\n  messageCount: session.message_count,\n  chatbotActive: session.chatbot_active !== false,\n  instance: waitData.instance\n};"
            },
            "id": "process-session",
            "name": "Process Session",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1800,
                200
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "boolean": [
                        {
                            "value1": "={{ $json.chatbotActive }}",
                            "value2": true
                        }
                    ]
                }
            },
            "id": "chatbot-active",
            "name": "Chatbot Active?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                2000,
                200
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://byoalaoqyedwxpcugfhg.supabase.co/rest/v1/messages",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ5b2FsYW9xeWVkd3hwY3VnZmhnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njk4Njc1OTUsImV4cCI6MjA4NTQ0MzU5NX0.fi63bqEDlFHkG88clPZPY20JFQ8idBLP_mAD4W2BFO8"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ5b2FsYW9xeWVkd3hwY3VnZmhnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njk4Njc1OTUsImV4cCI6MjA4NTQ0MzU5NX0.fi63bqEDlFHkG88clPZPY20JFQ8idBLP_mAD4W2BFO8"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"organization_id\": \"00000000-0000-0000-0000-000000000000\",\n  \"lead_id\": \"{{ $json.leadId }}\",\n  \"content\": \"{{ $json.combinedMessage.split('\\n').join(' | ') }}\",\n  \"sender\": \"client\"\n}"
            },
            "id": "save-incoming",
            "name": "Save Incoming",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                2200,
                100
            ],
            "alwaysOutputData": true
        },
        {
            "parameters": {
                "method": "GET",
                "url": "https://byoalaoqyedwxpcugfhg.supabase.co/rest/v1/properties?organization_id=eq.00000000-0000-0000-0000-000000000000&status=eq.Disponible&select=id,lot_number,area,price,features",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ5b2FsYW9xeWVkd3hwY3VnZmhnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njk4Njc1OTUsImV4cCI6MjA4NTQ0MzU5NX0.fi63bqEDlFHkG88clPZPY20JFQ8idBLP_mAD4W2BFO8"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ5b2FsYW9xeWVkd3hwY3VnZmhnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njk4Njc1OTUsImV4cCI6MjA4NTQ0MzU5NX0.fi63bqEDlFHkG88clPZPY20JFQ8idBLP_mAD4W2BFO8"
                        }
                    ]
                }
            },
            "id": "get-properties",
            "name": "Get Properties",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                2400,
                100
            ],
            "alwaysOutputData": true
        },
        {
            "parameters": {
                "method": "GET",
                "url": "=https://byoalaoqyedwxpcugfhg.supabase.co/rest/v1/messages?lead_id=eq.{{ $('Chatbot Active?').item.json.leadId }}&order=created_at.desc&limit=20",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ5b2FsYW9xeWVkd3hwY3VnZmhnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njk4Njc1OTUsImV4cCI6MjA4NTQ0MzU5NX0.fi63bqEDlFHkG88clPZPY20JFQ8idBLP_mAD4W2BFO8"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ5b2FsYW9xeWVkd3hwY3VnZmhnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njk4Njc1OTUsImV4cCI6MjA4NTQ0MzU5NX0.fi63bqEDlFHkG88clPZPY20JFQ8idBLP_mAD4W2BFO8"
                        }
                    ]
                }
            },
            "id": "get-history",
            "name": "Get Chat History",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                2600,
                100
            ],
            "alwaysOutputData": true
        },
        {
            "parameters": {
                "jsCode": "const properties = $('Get Properties').item.json;\nconst ctx = $('Chatbot Active?').item.json;\n\n// Get all messages from history\nconst historyItems = $('Get Chat History').all();\nlet messagesArray = [];\n\nif (historyItems.length > 0) {\n  const firstItem = historyItems[0].json;\n  if (Array.isArray(firstItem)) {\n    messagesArray = firstItem;\n  } else if (firstItem && typeof firstItem === 'object') {\n    messagesArray = historyItems.map(item => item.json);\n  }\n}\n\n// Peru timezone\nconst now = new Date();\nconst peruTime = new Date(now.toLocaleString('en-US', { timeZone: 'America/Lima' }));\nconst today = peruTime.toLocaleDateString('es-PE', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' });\nconst currentTime = peruTime.toLocaleTimeString('es-PE', { hour: '2-digit', minute: '2-digit' });\n\n// Format properties\nconst props = Array.isArray(properties) \n  ? properties.map(p => {\n      const features = (p.features || []).join(', ');\n      return `Lote ${p.lot_number}: ${p.area}m², $${p.price} USD${features ? ' - ' + features : ''}`;\n    }).join('\\n')\n  : 'No hay propiedades disponibles';\n\n// Format chat history\nconst validMessages = messagesArray.filter(m => m && m.content && m.content.trim());\nlet chatHistoryText = validMessages.length > 0\n  ? validMessages.slice().reverse().map(m => `[${m.sender === 'client' ? 'CLIENTE' : 'ASESOR'}]: ${m.content}`).join('\\n')\n  : '(Primera conversación)';\n\nreturn {\n  sessionId: ctx.sessionId,\n  leadId: ctx.leadId,\n  phone: ctx.phone,\n  instance: ctx.instance,\n  clientName: ctx.name,\n  properties: props,\n  chatHistory: chatHistoryText,\n  currentMessage: ctx.combinedMessage,\n  messageCount: ctx.messageCount,\n  today, currentTime\n};"
            },
            "id": "prepare-context",
            "name": "Prepare AI Context",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                2800,
                100
            ]
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "=HISTORIAL DE CONVERSACIÓN PREVIO:\n{{ $json.chatHistory }}\n\n---\nMENSAJES DEL CLIENTE ({{ $json.messageCount }} mensajes acumulados):\n{{ $json.currentMessage }}",
                "options": {
                    "systemMessage": "Eres un asesor inmobiliario profesional de Residencial Alquimia (Huaranguillo, Sachaca - Arequipa, Perú).\n\n=== DATOS DEL CLIENTE ===\nNombre: {{ $json.clientName }}\nTeléfono: {{ $json.phone }}\nFecha: {{ $json.today }}\nHora: {{ $json.currentTime }}\n\n=== PROPIEDADES DISPONIBLES ===\n{{ $json.properties }}\n\n=== INSTRUCCIONES ===\n\n1. **MENSAJES ACUMULADOS**: El cliente envió {{ $json.messageCount }} mensaje(s). RESPONDE A TODOS en UNA respuesta.\n\n2. **LEE EL HISTORIAL**: No repitas información ya dada.\n\n3. **REGLAS**:\n   - Responde conciso pero completo\n   - Sé amable y profesional 😊\n   - Máximo 2-3 lotes por vez\n   - Precios en dólares\n\n4. **PARA CITAS**: Confirma fecha, hora y nombre. WhatsApp: 959-716-850\n\n5. **INFO**: Lotes para construcción, financiamiento disponible."
                }
            },
            "id": "ai-agent",
            "name": "AI Agent",
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 1.7,
            "position": [
                3000,
                100
            ]
        },
        {
            "parameters": {
                "options": {
                    "temperature": 0.7
                }
            },
            "id": "openai-chat",
            "name": "OpenAI Chat Model",
            "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
            "typeVersion": 1,
            "position": [
                2900,
                320
            ],
            "credentials": {
                "openAiApi": {
                    "id": "openai-credential",
                    "name": "OpenAI API"
                }
            }
        },
        {
            "parameters": {
                "sessionIdType": "customKey",
                "sessionKey": "={{ $json.sessionId }}",
                "contextWindowLength": 20
            },
            "id": "memory",
            "name": "Window Buffer Memory",
            "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
            "typeVersion": 1.3,
            "position": [
                3000,
                320
            ]
        },
        {
            "parameters": {
                "jsCode": "const agentOutput = $input.first().json;\nconst ctx = $('Prepare AI Context').item.json;\n\nlet text = agentOutput.output || agentOutput.text || '¡Hola! Gracias por contactar Residencial Alquimia.';\n\nreturn {\n  text: text.trim(),\n  phone: ctx.phone,\n  instance: ctx.instance,\n  leadId: ctx.leadId,\n  sessionId: ctx.sessionId\n};"
            },
            "id": "process-ai",
            "name": "Process AI Response",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                3200,
                100
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "=https://evolutionapi.kywia.com/message/sendText/{{ $json.instance }}",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        },
                        {
                            "name": "apikey",
                            "value": "2023bb74c1f985aa39f432fa165a27f4"
                        }
                    ]
                },
                "sendBody": true,
                "contentType": "json",
                "specifyBody": "keypair",
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "number",
                            "value": "={{ $json.phone }}"
                        },
                        {
                            "name": "text",
                            "value": "={{ $json.text }}"
                        }
                    ]
                }
            },
            "id": "send-whatsapp",
            "name": "Send WhatsApp",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                3400,
                100
            ],
            "alwaysOutputData": true
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://byoalaoqyedwxpcugfhg.supabase.co/rest/v1/messages",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ5b2FsYW9xeWVkd3hwY3VnZmhnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njk4Njc1OTUsImV4cCI6MjA4NTQ0MzU5NX0.fi63bqEDlFHkG88clPZPY20JFQ8idBLP_mAD4W2BFO8"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ5b2FsYW9xeWVkd3hwY3VnZmhnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njk4Njc1OTUsImV4cCI6MjA4NTQ0MzU5NX0.fi63bqEDlFHkG88clPZPY20JFQ8idBLP_mAD4W2BFO8"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "contentType": "json",
                "specifyBody": "keypair",
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "organization_id",
                            "value": "00000000-0000-0000-0000-000000000000"
                        },
                        {
                            "name": "lead_id",
                            "value": "={{ $('Process AI Response').item.json.leadId }}"
                        },
                        {
                            "name": "content",
                            "value": "={{ $('Process AI Response').item.json.text }}"
                        },
                        {
                            "name": "sender",
                            "value": "agent"
                        }
                    ]
                }
            },
            "id": "save-outgoing",
            "name": "Save Outgoing",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                3600,
                100
            ],
            "alwaysOutputData": true
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://byoalaoqyedwxpcugfhg.supabase.co/rest/v1/rpc/complete_session",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ5b2FsYW9xeWVkd3hwY3VnZmhnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njk4Njc1OTUsImV4cCI6MjA4NTQ0MzU5NX0.fi63bqEDlFHkG88clPZPY20JFQ8idBLP_mAD4W2BFO8"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ5b2FsYW9xeWVkd3hwY3VnZmhnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njk4Njc1OTUsImV4cCI6MjA4NTQ0MzU5NX0.fi63bqEDlFHkG88clPZPY20JFQ8idBLP_mAD4W2BFO8"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"p_session_id\": \"{{ $('Process AI Response').item.json.sessionId }}\"\n}"
            },
            "id": "complete-session",
            "name": "Complete Session",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                3800,
                100
            ],
            "alwaysOutputData": true
        },
        {
            "parameters": {
                "jsCode": "// Message was added to existing session, no action needed\nreturn { status: 'stacked', message: 'Message added to existing session' };"
            },
            "id": "stacked-done",
            "name": "Message Stacked",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1400,
                400
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Parse Message",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse Message": {
            "main": [
                [
                    {
                        "node": "Valid?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Valid?": {
            "main": [
                [
                    {
                        "node": "Stack Message",
                        "type": "main",
                        "index": 0
                    }
                ],
                []
            ]
        },
        "Stack Message": {
            "main": [
                [
                    {
                        "node": "Process Stack Result",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Process Stack Result": {
            "main": [
                [
                    {
                        "node": "New Session?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "New Session?": {
            "main": [
                [
                    {
                        "node": "Wait 100s",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Message Stacked",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Wait 100s": {
            "main": [
                [
                    {
                        "node": "Get Stacked Messages",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Stacked Messages": {
            "main": [
                [
                    {
                        "node": "Process Session",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Process Session": {
            "main": [
                [
                    {
                        "node": "Chatbot Active?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Chatbot Active?": {
            "main": [
                [
                    {
                        "node": "Save Incoming",
                        "type": "main",
                        "index": 0
                    }
                ],
                []
            ]
        },
        "Save Incoming": {
            "main": [
                [
                    {
                        "node": "Get Properties",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Properties": {
            "main": [
                [
                    {
                        "node": "Get Chat History",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Chat History": {
            "main": [
                [
                    {
                        "node": "Prepare AI Context",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prepare AI Context": {
            "main": [
                [
                    {
                        "node": "AI Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenAI Chat Model": {
            "ai_languageModel": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Window Buffer Memory": {
            "ai_memory": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_memory",
                        "index": 0
                    }
                ]
            ]
        },
        "AI Agent": {
            "main": [
                [
                    {
                        "node": "Process AI Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Process AI Response": {
            "main": [
                [
                    {
                        "node": "Send WhatsApp",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send WhatsApp": {
            "main": [
                [
                    {
                        "node": "Save Outgoing",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Save Outgoing": {
            "main": [
                [
                    {
                        "node": "Complete Session",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    }
}