n8n-workflows/evolution-webhook-workflow.json
{
    "name": "Evolution Webhook Simple",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "evolution-webhook",
                "options": {
                    "rawBody": true
                }
            },
            "id": "webhook",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                240,
                300
            ],
            "webhookId": "evolution-webhook"
        },
        {
            "parameters": {
                "jsCode": "// Log para debug\nconsole.log('Webhook recibido:', JSON.stringify($input.first().json).substring(0, 500));\n\nconst payload = $input.first().json;\n\n// Validar evento\nif (payload.event !== 'messages.upsert') {\n  return { skip: true, reason: 'not_message_event', event: payload.event };\n}\n\nconst data = payload.data;\nif (!data || !data.key || !data.key.remoteJid) {\n  return { skip: true, reason: 'no_remote_jid' };\n}\n\n// Excluir grupos y broadcasts\nconst jid = data.key.remoteJid;\nif (jid.includes('@g.us') || jid === 'status@broadcast') {\n  return { skip: true, reason: 'group_or_broadcast' };\n}\n\n// Extraer datos\nconst phone = jid.split('@')[0].replace(/\\D/g, '');\nconst isMe = data.key.fromMe || false;\nconst pushName = data.pushName || phone;\nconst msg = data.message || {};\n\nlet content = '';\nlet mediaType = 'text';\nlet mediaUrl = null;\nlet mediaFilename = null;\n\nif (msg.conversation) {\n  content = msg.conversation;\n} else if (msg.extendedTextMessage && msg.extendedTextMessage.text) {\n  content = msg.extendedTextMessage.text;\n} else if (msg.imageMessage) {\n  content = msg.imageMessage.caption || '[Imagen]';\n  mediaType = 'image';\n} else if (msg.videoMessage) {\n  content = msg.videoMessage.caption || '[Video]';\n  mediaType = 'video';\n} else if (msg.audioMessage) {\n  content = '[Audio]';\n  mediaType = 'audio';\n} else if (msg.documentMessage) {\n  content = msg.documentMessage.fileName || '[Documento]';\n  mediaType = 'document';\n  mediaFilename = msg.documentMessage.fileName;\n} else {\n  content = '[Mensaje]';\n}\n\nreturn {\n  skip: false,\n  phone: phone,\n  pushName: pushName,\n  content: content,\n  sender: isMe ? 'agent' : 'client',\n  mediaType: mediaType,\n  mediaUrl: mediaUrl,\n  mediaFilename: mediaFilename,\n  instance: payload.instance || 'unknown'\n};"
            },
            "id": "process",
            "name": "Procesar Mensaje",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                460,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "boolean": [
                        {
                            "value1": "={{ $json.skip }}",
                            "value2": false
                        }
                    ]
                }
            },
            "id": "filter",
            "name": "Es Mensaje Valido?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                680,
                300
            ]
        },
        {
            "parameters": {
                "method": "GET",
                "url": "=https://byoalaoqyedwxpcugfhg.supabase.co/rest/v1/leads?phone=ilike.*{{ $json.phone.slice(-8) }}*&organization_id=eq.00000000-0000-0000-0000-000000000000&limit=1",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ5b2FsYW9xeWVkd3hwY3VnZmhnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njk4Njc1OTUsImV4cCI6MjA4NTQ0MzU5NX0.fi63bqEDlFHkG88clPZPY20JFQ8idBLP_mAD4W2BFO8"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ5b2FsYW9xeWVkd3hwY3VnZmhnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njk4Njc1OTUsImV4cCI6MjA4NTQ0MzU5NX0.fi63bqEDlFHkG88clPZPY20JFQ8idBLP_mAD4W2BFO8"
                        }
                    ]
                },
                "options": {}
            },
            "id": "find-lead",
            "name": "Buscar Lead",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                900,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "const leads = $input.first().json;\nconst msgData = $('Procesar Mensaje').item.json;\n\nconst lead = Array.isArray(leads) && leads.length > 0 ? leads[0] : null;\n\nreturn {\n  leadId: lead ? lead.id : null,\n  leadExists: !!lead,\n  ...msgData\n};"
            },
            "id": "check-lead",
            "name": "Verificar Lead",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1120,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "boolean": [
                        {
                            "value1": "={{ $json.leadExists }}",
                            "value2": true
                        }
                    ]
                }
            },
            "id": "lead-exists",
            "name": "Existe Lead?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                1340,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://byoalaoqyedwxpcugfhg.supabase.co/rest/v1/leads",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ5b2FsYW9xeWVkd3hwY3VnZmhnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njk4Njc1OTUsImV4cCI6MjA4NTQ0MzU5NX0.fi63bqEDlFHkG88clPZPY20JFQ8idBLP_mAD4W2BFO8"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ5b2FsYW9xeWVkd3hwY3VnZmhnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njk4Njc1OTUsImV4cCI6MjA4NTQ0MzU5NX0.fi63bqEDlFHkG88clPZPY20JFQ8idBLP_mAD4W2BFO8"
                        },
                        {
                            "name": "Prefer",
                            "value": "return=representation"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "organization_id",
                            "value": "00000000-0000-0000-0000-000000000000"
                        },
                        {
                            "name": "name",
                            "value": "={{ $json.pushName }}"
                        },
                        {
                            "name": "phone",
                            "value": "={{ $json.phone }}"
                        },
                        {
                            "name": "status",
                            "value": "Nuevo"
                        },
                        {
                            "name": "source",
                            "value": "WhatsApp"
                        }
                    ]
                },
                "options": {}
            },
            "id": "create-lead",
            "name": "Crear Lead",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1560,
                420
            ]
        },
        {
            "parameters": {
                "jsCode": "const newLead = $input.first().json;\nconst msgData = $('Verificar Lead').item.json;\n\nconst leadId = Array.isArray(newLead) ? newLead[0]?.id : newLead?.id;\n\nreturn {\n  ...msgData,\n  leadId: leadId\n};"
            },
            "id": "get-new-id",
            "name": "Obtener ID",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1780,
                420
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://byoalaoqyedwxpcugfhg.supabase.co/rest/v1/messages",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ5b2FsYW9xeWVkd3hwY3VnZmhnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njk4Njc1OTUsImV4cCI6MjA4NTQ0MzU5NX0.fi63bqEDlFHkG88clPZPY20JFQ8idBLP_mAD4W2BFO8"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ5b2FsYW9xeWVkd3hwY3VnZmhnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njk4Njc1OTUsImV4cCI6MjA4NTQ0MzU5NX0.fi63bqEDlFHkG88clPZPY20JFQ8idBLP_mAD4W2BFO8"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "organization_id",
                            "value": "00000000-0000-0000-0000-000000000000"
                        },
                        {
                            "name": "lead_id",
                            "value": "={{ $json.leadId }}"
                        },
                        {
                            "name": "content",
                            "value": "={{ $json.content }}"
                        },
                        {
                            "name": "sender",
                            "value": "={{ $json.sender }}"
                        },
                        {
                            "name": "media_type",
                            "value": "={{ $json.mediaType }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "save-msg-new",
            "name": "Guardar Msg (Nuevo)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                2000,
                420
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://byoalaoqyedwxpcugfhg.supabase.co/rest/v1/messages",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ5b2FsYW9xeWVkd3hwY3VnZmhnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njk4Njc1OTUsImV4cCI6MjA4NTQ0MzU5NX0.fi63bqEDlFHkG88clPZPY20JFQ8idBLP_mAD4W2BFO8"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ5b2FsYW9xeWVkd3hwY3VnZmhnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njk4Njc1OTUsImV4cCI6MjA4NTQ0MzU5NX0.fi63bqEDlFHkG88clPZPY20JFQ8idBLP_mAD4W2BFO8"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "organization_id",
                            "value": "00000000-0000-0000-0000-000000000000"
                        },
                        {
                            "name": "lead_id",
                            "value": "={{ $json.leadId }}"
                        },
                        {
                            "name": "content",
                            "value": "={{ $json.content }}"
                        },
                        {
                            "name": "sender",
                            "value": "={{ $json.sender }}"
                        },
                        {
                            "name": "media_type",
                            "value": "={{ $json.mediaType }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "save-msg-exist",
            "name": "Guardar Msg (Existente)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1560,
                180
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Procesar Mensaje",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Procesar Mensaje": {
            "main": [
                [
                    {
                        "node": "Es Mensaje Valido?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Es Mensaje Valido?": {
            "main": [
                [
                    {
                        "node": "Buscar Lead",
                        "type": "main",
                        "index": 0
                    }
                ],
                []
            ]
        },
        "Buscar Lead": {
            "main": [
                [
                    {
                        "node": "Verificar Lead",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Verificar Lead": {
            "main": [
                [
                    {
                        "node": "Existe Lead?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Existe Lead?": {
            "main": [
                [
                    {
                        "node": "Guardar Msg (Existente)",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Crear Lead",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Crear Lead": {
            "main": [
                [
                    {
                        "node": "Obtener ID",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Obtener ID": {
            "main": [
                [
                    {
                        "node": "Guardar Msg (Nuevo)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    }
}